<nav class="navbar-fixed blue" id="tx1">
    <nav class="navbar-fixed blue">
        <a href="#!" class="brand-logo">Betha</a>
        <ul class="right hide-on-med-and-down blue">
            <li><a href="http://localhost:4200/pessoas/listar"><i class="material-icons">search</i></a></li>
            <li><a href="http://localhost:4200/"><i class="material-icons">refresh</i></a></li>
            <li><a href="http://localhost:4200/users/new"><i class="material-icons">more_vert</i></a></li>
            <div class="chip" id="tx33">Junior
                <img src="https://lh3.googleusercontent.com/yiPzw2yVossyo1Lhp5F7ujjli0OhT5R2E8fzOT_AXacfuXvqi5NISCkdZkHnjmXGhOWkwDQ5Tz3rdpM=w1366-h768-rw-no" jsname="tEADhd" width="678" height="678" style="max-width: 768px; max-height: 768px;" alt="Foto:" onclick="$('.tap-target').tapTarget('open')">
            </div>
        </ul>
    </nav>
</nav>

<nav class="navbar-fixed blue">
    <nav class="navbar-fixed blue">
        <form>
            <div class="input-field blue">
                <input id="search" type="search" data-position="center" data-delay="50" data-tooltip="Listagem de Clientes" routerLink="/pessoas/lista" onclick="$('.tap-target').tapTarget('close')">
                <label for="search"><i class="material-icons" >search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
        <!-- Dropdown Trigger -->
        <a class='dropdown-button btn blue pulse' data-beloworigin="true" href='#' data-activates='dropdown1' onclick="$('.tap-target').tapTarget('open')">Ajuda</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li class="divider"></li>
            <li><a href="#!"><i class="material-icons">view_module</i>Manual do Sistema</a></li>
            <li class="divider"></li>
            <li><a href="#!"><i class="material-icons">cloud</i>Servidor Betha 1</a></li>
            <li class="divider"></li>
            <li><a href="#!"><i class="material-icons">cloud</i>Servidor Betha 1</a></li>
            <li class="divider"></li>
            <li><a href="#!"><i class="material-icons">cloud</i>Servidor Betha 1</a></li>
            <li class="divider"></li>
        </ul>
    </nav>
</nav>
<div class="fixed-action-btn vertical" data-delay="50" data-tooltip="Informações" id="tx2">
    <div class="preloader-wrapper big" id="gira">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
        <div class="prefix" name="teste" id="teste" data-delay="50" data-tooltip="Informações">
            <a class="btn-floating btn-large red pulse" id="testex">
                <i class="large material-icons">add</i>
            </a>
            <ul>
                <li>
                    <a class="btn-floating btn-large red pulse" data-position="left" id="tx3" data-delay="50" data-tooltip="Informações" routerLink="/sobre">
                        <i class="material-icons">call</i>
                    </a>
                </li>

                <li>
                    <a class="btn-floating tooltipped purple" data-position="left" data-delay="50" data-tooltip="Listagem de Clientes" routerLink="/pessoas/lista">
                        <i class="material-icons">recent_actors</i>
                    </a>
                </li>

                <li>
                    <a class="btn-floating tooltipped purple" data-position="left" data-delay="50" data-tooltip="Cadastrar Novos Clientes" routerLink="/pessoas/novo">
                        <i class="material-icons">directions_walk</i>
                    </a>
                </li>

                <li>
                    <a class="btn-floating tooltipped yellow" data-position="left" data-delay="50" data-tooltip="Listagem de Pedidos" routerLink="/pedidos/lista">
                        <i class="material-icons">local_grocery_store</i>
                    </a>
                </li>

                <li>
                    <a class="btn-floating tooltipped yellow" data-position="left" data-delay="50" data-tooltip="Cadastrar Novos Pedidos" routerLink="/pedidos/novo">
                        <i class="material-icons">add_shopping_cart</i>
                    </a>
                </li>

                <li>
                    <a class="btn-floating tooltipped green" data-position="left" data-delay="50" data-tooltip="Listagem de Produtos" routerLink="/produtos/lista">
                        <i class="material-icons">sim_card</i>
                    </a>
                </li>

                <li>
                    <a class="btn-floating tooltipped green" data-position="left" data-delay="50" data-tooltip="Cadastrar Novos Produtos" routerLink="/produtos/novo">
                        <i class="material-icons">phonelink</i>
                    </a>
                </li>

                <li>
                    <a class="btn-floating tooltipped blue" data-position="left" data-delay="50" data-tooltip="Listagem de  Usuários" routerLink="/users">
                        <i class="material-icons">supervisor_account</i>
                    </a>
                </li>

                <li>
                    <a class="btn-floating tooltipped blue" data-position="left" data-delay="50" data-tooltip="Cadastrar Novos Usuário" routerLink="/users/new">
                        <i class="material-icons">account_circle</i>
                    </a>
                </li>
            </ul>
            <!--<a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>-->
            <div class="tap-target" data-activates="tx33">
                <div class="tap-target-content">
                    <p>Usuário Logado no Sistema</p>
                </div>
            </div>
        </div>
    </div>