<div id="popout" class="section scrollspy">
    <p class="caption">
        <h5> Bem Vindo ao Cadastro de Usuários </h5>
</div>
<div class="row">
    <form materialize class="col s12" [formGroup]="form" (ngSubmit)="update()">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text" class="validate" [(ngModel)]="user.name" formControlName="name" [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid">
                <label for="name" [class.active]="user.name" data-error="Nome obrigatório">
          Name
        </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" [(ngModel)]="user.email" formControlName="email" [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
                <label for="email" [class.active]="user.email" data-error="Invalid Email">
          Email
        </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="phone" type="text" class="validate" [(ngModel)]="user.phone" formControlName="phone">
                <label for="phone" [class.active]="user.phone">Phone</label>
            </div>
        </div>
        <button class="btn waves-effect blue pulse" type="submit" [disabled]="!form.valid">
            <i class="material-icons">cloud_done</i>
      Salvar<i class=" material-icons right ">done</i>
    </button>
        <button class="btn waves-effect red " routerLink="/users">
      Voltar<i class="material-icons right ">replay</i>
    </button>
    </form>
</div>